<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fivice.pvf.dao.mapper.user.SysPermissionMapper">
  <resultMap id="BaseResultMap" type="top.fivice.pvf.domain.userAndPermission.SysPermission">
    <!--@mbg.generated-->
    <!--@Table sys_permission-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permission_code" jdbcType="VARCHAR" property="permissionCode" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, permission_code, permission_name
  </sql>
  <select id="selectPermissionByUserId" resultMap="BaseResultMap" parameterType="int">
    select sp.* from
    sys_permission sp ,
    sys_role_permission_relation srpr ,
    sys_role sr,
    sys_user_role_relation surr
    where sp.id =srpr.permission_id
    and srpr.role_id = sr.id
    and sr.id  = surr.role_id
    and surr.user_id = #{userId}
  </select>
</mapper>