<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.fivice.pvf.dao.mapper.user.SysRoleMapper">
    <resultMap id="SysRoleMap" type="top.fivice.pvf.domain.userAndPermission.SysRole">

    </resultMap>
    <select id="selectByName" resultMap="SysRoleMap">

    </select>
</mapper>