<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.fivice.pvf.dao.mapper.user.SysUserMapper">
    <!--根据用户名查询用户-->
    <resultMap id="SysUserMap" type="top.fivice.pvf.domain.userAndPermission.SysUser">
        <id column="id" property="id"/>
        <result column="account" property="account"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="enabled" property="enabled"/>
        <result column="not_expired" property="accountNotExpired"/>
        <result column="account_not_locked" property="accountNotLocked"/>
        <result column="credentials_not_expired" property="credentialsNotExpired"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>

    </resultMap>
    <select id="selectUserByName" resultMap="SysUserMap" parameterType="string">
        select su.* from sys_user su where su.account = #{userName};
    </select>
</mapper>